
/*

Fresh Air: #B0D7FF
Glitter: #EAE8FF
Gunmetal: #2D3142
Silver Chalise: #ADACB5
Gainsboro: #D8D5DB


*/
{% load static %}


.modal {
    justify-content: center;
    align-items: center;
    background-color: rgba(105, 105, 105, 0.7);
}

.modal-content {
    text-align: center;
    max-width: 90%;
}

.modal button.close {
    position: absolute;
    right: 10px;
    top: 10px;
    color: black;
}



.modal-header {
    background-color: rgb(226, 116, 125);
    color: white;
    border: 1px solid rgb(226, 116, 125);
    padding: 30px 0px;
    border-radius: 5px 5px 0px 0px;
}

.modal-body {
    padding: 20px 30px 30px 30px;
}

.modal-body h4 {
    font-weight: bold;
}

.btn-modal {
    font-size: 13px;
    width: 135px;
    height: 51px;
    border-radius: 30px;
    border: none;
    border: 4px solid #e2747d;
    color: #e2747d;
    background-color: white;
    margin-top: 20px;
    font-family: 'Raleway';
}


.modal-icon {
    font-size: 50px;
}

.modal p {
    font-size: 18px;
}

/*
-----------------------------
General
-----------------------------
*/

h1, h2, h3, h4, h5, h6, p {

    font-family: 'Raleway', 'Roboto', sans-serif;
    line-height: 1.6;
}

html, body {
    width: 100%;
}

.section-title {
    margin-bottom: 40px;
    font-weight: 300;
}


:focus {
    outline: none;
}



.hamburger {
    position: fixed;
    top: 20px;
    left: 20px;
    color: white;
}



.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before  {
    background-color: white;
    width: 30px;
    height: 2px;
}


/*
-----------------------------
Section - Header
-----------------------------
*/


#section-header {
    height: 160px;
    background-color: #2D3142;
    color: white;
    position: relative;
    //background: url('static/game_of_life/images/grey_background.jpg');
}



@media screen and (min-width: 481px) and (max-width: 780px) {
    #section-header {
        height: 200px;
    }
}



#section-header .jumbotron {
    margin-top: 50px;
    background-color: transparent;
}

#section-header .page-title-wrapper {
    position: initial;
}

#section-header .page-title {
    text-transform: uppercase;
    font-weight: 900;
    bottom: -40px;
    position: absolute;
    font-size: 63px;
}

@media screen and (max-width: 480px) {
    #section-header {
        height: 300px;
    }

    #section-header .page-title {
        font-size: 55px;
    }
}


/*
-----------------------------
Section - Rules
-----------------------------
*/


#section-rules {
    padding: 100px 0px;
}


#section-rules h4 {
    margin-bottom: 30px;
}


#section-rules .rules-list li {
    margin-top: 32px;
    font-size: 18px;
    font-family: roboto-light, sans-serif;
    font-weight: 600;
}

#section-rules .row-other {
    margin-top: 30px;
}



/*
-----------------------------
Section - Simulation
-----------------------------
*/

.btn-console {
    height: 50px;
    box-shadow: 5px 5px 15px #888;
    margin-right: 15px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 0px;
    width: 100px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 10px;
    font-family: 'Raleway', 'Roboto', sans-serif;
    padding: 0;
}

.btn-console:hover {
    color: #04ce92;
    border: none;
}



.btn-console.is-pointer-down {
    color: #04ce92;
    transform: translateY(5px);
    box-shadow: 3px 3px 8px #888;
}

.btn-console.switched-on {
    color: #04ce92;
    transform: translateY(5px);
    box-shadow: 3px 3px 8px #888;
}


.btn-speed {
    height: 40px;
    width: 65px;
    /* border-radius: 10px; */
    font-size: 15px;
}



#section-simulation {
    padding: 70px 0px;
    background-color: #E2F0FF;
    background-color: #2F6690;
    color: white;
    background-color: #f3f3f3;
    color: black;
}

#section-simulation .canvas-wrapper {
    position: relative;
    border: 40px solid grey;
    border-image-source: url(/static/game_of_life/images/other/border.svg);
    border-image-slice: 33%;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: stretch;
    height: 550px;

}

#section-simulation .buffer-wrapper {
    width: 100%;
    position: absolute;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    display: none;
    border: 4px solid black;
}

#section-simulation .console-limit {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 101;
    background-color: white;
    width: 100%;
    height: 100%;
    opacity: .8;
    border: 4px solid black;
}


#section-simulation .console-limit-message {
    text-align: center;
    padding: 20px;
}

#section-simulation .console-limit-message h4 {
    border: none;
    margin: 0;
    padding: 0;
}

button.btn-canvas {
    background-color: transparent;
    height: 70px;
    width: 200px;
    /* font-weight: 600; */
    font-family: 'Raleway';
    font-size: 18px;
    border: 5px solid black;
    color: black;
    margin-top: 20px;
}

button.btn-canvas:hover {
    border-color: #00cc99;
    color: #00cc99;
}

#section-simulation canvas#grid {
    border: 4px solid black;
    background-color: white;
    width: 100%;
    height: 100%;
}

#section-simulation .grid-dimensions {
    text-align: right;
    margin-bottom: 30px;
}

#section-simulation .buffer-icon {
    width: 50px;
}


#section-simulation #drag-icons {

    position: absolute;
    left: -1000px;

}

/*--------------------------------
Console Dashboard
--------------------------------*/


#section-simulation .console-dashboard {
    text-align: center;
}

@media screen and (max-width: 979px) {
    #section-simulation #console-chart {
        padding: 10px;
    }
}


#section-simulation #console-chart svg {
    width: 100%;
    height: 300px;
    box-shadow: 5px 5px 10px #888;
    background-color: white;
}


#section-simulation #console-stats {
    margin-top: 20px;
}

#section-simulation #console-stats small {
    color: black;
}

#section-simulation #console-stats .row {
    text-align: left;
}

#section-simulation #console-stats .pop {
    border-right: 1px solid #ccc;

}

#section-simulation #console-stats h5 {
    margin-bottom: 0px;
}

#section-simulation #console-stats h2 {
    margin-top: 0px;
}

#section-simulation .collapse-trigger {
    display: block;
    width: 100%;
    text-align: left;
    padding: 0;
    color: black;
    text-decoration: none;
}


#section-simulation .collapse-trigger span {
    float: right;
    transform: rotate(-90deg);
    transition: 500ms;
}

#section-simulation .collapse-trigger span {
    float: right;
    transform: rotate(0deg);
    transition: 500ms;
}

#section-simulation .collapse-trigger:hover > h4 {
    color: #04ce92;
}


#section-simulation .collapse-trigger.collapsed span {
    transform: rotate(-90deg);
}


#section-simulation .collapsible {
    padding-top: 10px;
    padding-left: 10px;
}

#section-simulation .collapsible#collapseDashboard {
    padding: 0px;
}

#section-simulation #console-slider {
    position: relative;
}

#section-simulation #console-slider h5 {
    margin-top: 30px;
}

#section-simulation #console-slider svg {
    width: 100%;
    height: 50px;
}

#section-simulation #console-slider .track-overlay {
    stroke-width: 8px;
    stroke: #06d6a0;
}

#section-simulation #console-slider div.slider-tooltip {
    position: absolute;
    text-align: center;
    width: 50px;
    height: 30px;
    /* padding: 3px; */
    font: 12px sans-serif;
    background: #a5a5a5;
    border: 0px;
    border-radius: 2px;
    pointer-events: none;
    font-size: 15px;
    color: white;
    font-family: 'Raleway', 'Roboto', sans-serif;
    padding-top: 4px;
    padding-left: 2px;
}

#section-simulation .row-still {
    //display: flex;
    //align-items: center;
}

#section-simulation .row-console {
}

/* Extra padding on speed buttons for small screens */
#section-simulation .btn-console {
    margin-bottom: 25px;
}

/* Very small screens */
@media screen and (max-width: 530px) {
    #section-simulation .btn-console {
        font-size: 13px;
        width: 60px;
        margin-right: 5px;
        font-weight: 300px;
    }

}



#section-simulation figure {
    margin-bottom: 25px;
}



#section-simulation figure {
    display: inline-block;
    text-align: center;
    margin-right: 20px;
    display: inline-table;
    position: relative;
}

#section-simulation .pattern-wrapper {
    //background-color: #06D6A0;
    position: absolute;
}


#section-simulation figure img {
    box-shadow: 5px 5px 15px #888;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#section-simulation .is-dragging img.pattern-overlay {
    opacity: .75;
    box-shadow: 0 0 7px rgb(6, 214, 160);
    border: 1px solid rgb(6, 214, 160);
}

#section-simulation div.drop-box {
    position: absolute;
    top: 0;
    visibility: hidden;
}

#section-simulation .in-bounds div.drop-box {
    opacity: .8;
    box-shadow: 0 0 7px rgb(6, 214, 160);
    border: 1px solid rgb(6, 214, 160);
    background-color: rgb(6, 214, 160);
    visibility: visible;
}


#section-simulation figure div.pattern-wrapper.in-bounds {
    background-color: #06D6A0;
    opacity: .5;
}


#section-simulation figure img.in-bounds {
    box-shadow: 0 0 7px rgb(6, 214, 160);
    display: none;
}


#section-simulation h4 {
    line-height: 1.6;
    border-bottom: 1px solid darkgrey;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

#section-simulation form.text-pattern {
        display: inline-table;
    margin-right: 25px;
}


#section-simulation form.text-pattern input {
    background-color: transparent;
    border: none;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 3px solid black;
    margin-right: 15px;
    font-size: 20px;
    color: black;
    width: 200px;
    display: inline-table;
}


#section-simulation form.text-pattern button {
    width: 60px;
}


#section-simulation #button-puffer {
    width: 120px;
}


#section-simulation .row-other {
    margin-top: 30px;
}


#section-simulation figcaption {
    margin-top: 8px;
    font-size: 12px;
    font-family: 'Raleway', 'Roboto', sans-serif;
}

#section-simulation .console-freezable.frozen {
    pointer-events: none;
}

#section-simulation .btn-console.frozen {
    //background-color: #dadada;
    color: #adadad;
}

#section-simulation .pattern-wrapper.frozen  {
    background-color: white;
}


#section-simulation .pattern-wrapper.frozen img.pattern-overlay  {
    opacity: .2;
}

#section-simulation .pattern-wrapper.frozen.in-bounds {
    background-color: white;
}

#section-simulation .pattern-wrapper.frozen.is-dragging img.pattern-overlay {
    box-shadow: none;
    border: none;
}

#section-simulation .pattern-wrapper.frozen.is-bounds img.pattern-overlay {
    box-shadow: none;
    border: none;
}

/*
-----------------------------
Footer
-----------------------------
*/


footer {
    background-color: #333333;
    padding: 40px;
}

footer h5 {
    color: #888888;
    padding: 0;
    margin: 0px 0px 5px 0px;
    display: inline-block;
}

footer div a {
    color: #04ce92;
}

footer div a:hover {
    color: #0bffc0;
    text-decoration: none;
}

/* Center footer on xs/small devices */
@media screen and (max-width: 979px) {
    footer div.copyright { text-align: center; }

    footer div.tag { text-align: center; }

    footer div.github { text-align: right; }
    
    footer div.linkedin { text-align: left; }
}

@media screen and (min-width: 979px) {
    footer div.copyright { text-align: left; }

    footer div.tag { text-align: right; }

    footer div.github { text-align: right; }
    
    footer div.linkedin { text-align: right; }
}


/*
-----------------------------
Dashboard
-----------------------------
*/


/* --- Chart ---*/

.ticks {
  font: 10px sans-serif;
}

.track-outline,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track-outline {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #ddd;
  stroke-width: 8px;
}

.track-target {
  pointer-events: stroke;
  stroke-width: 50px;
  cursor: crosshair;
  stroke: transparent;
}

/* --- Timeline Slider ---*/

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}

#pop-slider {
    width: 100%
    height: 300px;
}


/***
--------------------
Breakpoints Overlay (for design purposes)
--------------------
***/


.breakpoints {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none
}

.breakpoints div {
    height: 100%;
    width: 2px;
    position: absolute;

}

.breakpoints .small {
    left: 768px;
    background-color: aqua;
}

.breakpoints .medium {
    left: 992px;
    background-color: crimson;
}

.breakpoints .large {
    background-color: rebeccapurple;
    left: 1200px;
}
