{% load static %}
<!DOCTYPE html>

	<!-- jQuery -->
	<script
			src="https://code.jquery.com/jquery-2.2.4.min.js"
			integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
			crossorigin="anonymous">
	</script>

	<!-- Boostrap -->
	<link
			href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
			crossorigin="anonymous">
	<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
			integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
			crossorigin="anonymous">
	</script>

	<link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">


	<!-- Slideout Plugin -->
	<script
			src="{% static 'game_of_life/slideout.min.js' %}"
			type="text/javascript">
	</script>

	<link
			href="{% static 'game_of_life/slideout.css' %}"
			type="text/css"
			rel="stylesheet" />


	<!-- HammerJS Plugin -->
	<script
			src="{% static 'game_of_life/hammer.min.js' %}"
			type="text/javascript">
	</script>

	<!-- Hamburger CSS -->
	<link
			href="{% static 'game_of_life/hamburgers.min.css' %}"
			type="text/css"
			rel="stylesheet" />


	<!-- Custom Scripts -->
	<link rel="stylesheet" href="{% static 'game_of_life/style.css' %}" />
	<script src="{% static 'game_of_life/script.js' %}"></script>

	<style>





#section-header {
    background: url("{% static 'game_of_life/images/grey_background.jpg' %}");
}


	</style>
</head>

<body>



<nav id="menu">

	<div class="container">


	</div>
	<header>
		<h2>Simulacra</h2>

		<ul>
			<li><a href="#">Game of Life</a></li>
			<li><a href="#">Sugarscape</a></li>
			<li><a href="#">Segregation Model</a></li>
		</ul>
	</header>
</nav>





<main id="panel">

	<button class="toggle-button hamburger hamburger--squeeze" type="button">
		<span class="hamburger-box">
    		<span class="hamburger-inner"></span>
  		</span>
	</button>

	<section id="section-header">
		<div class="container">

			<div class='row'>

				<div class="col-md-12 page-title-wrapper">

					<h1 class="page-title">Conway's Game of Life</h1>

				</div>

			</div>
		</div>
	</section>


	<section id="section-rules">
		<div class="container">
			<div class="row">

				<div class="col-md-12">

					<h2 class="section-title">Rules</h2>

					<h4>The Game of Life, also known as Life, is a cellular automaton invented by mathematician
						John Conway in 1970. The simulation consists of a two-dimensional orthogonal grid of cell,
						each of which is either alive or dead. The status of each cell changes based on the eight
						cells in its immediate surroundings. Each iteration, sometimes called a generation, the cells
						and their neighbors are evaluated based on a simple set of rules to determine whether that
						cell lives or dies.</h4>

					<h4>This simulation is noteworthy because of its ability to generate complex results from very
						simple rules. These rules embody some basic principles of biology—isolation, overpopulation
						and reproduction. When applied across the grid, the rules can create patterns with “life-like”
						behavior: birth, death, movement and even procreation.</h4>

					<h4>The rules are as follows:</h4>

					<ol type="1"class="rules-list">

						<li>Any live cell with fewer than two live neighbors dies, as if by isolation.</li>
						<li>Any live cell with two or three live neighbors continues to the next iteration.</li>
						<li>Any live cell with four or more neighbors dies, as if by overpopulation.</li>
						<li>Any dead cell with exactly three live neighbors becomes a live cell, as if by reproduction.</li>

					</ol>

				</div>


			</div>
		</div>
	</section>


	<section id="section-simulation">



		<div class="container">


			<div class="row">
				<div class="col-md-12">

					<h2 class="section-title">Simulator</h2>
				</div>
			</div>

			<div class="row">
				<div class="col-md-8">
					<canvas id="grid"></canvas>
				</div>

				<div class='col-md-4'>
					<div class="pop-graph"></div>
				</div>
			</div>

			<div class='row row-console'>

				<div class='col-md-12'>
					<h4>Console</h4>
					<button type="button" class="btn-console" id="button-step">Step</button>
					<button type="button" class="btn-console" id="button-run">Run</button>
					<button type="button" class="btn-console" id="button-stop">Stop</button>
					<button type="button" class="btn-console" id="button-clear">Clear</button>
				</div>

			</div>

			<!-- Div used to store drag icons -->
			<div id="drag-icons" ></div>

			<div class='row row-still'>

				<div class='col-md-6'>
					<h4>Still Lifes</h4>

					<figure>
						<img class="pattern" id="pattern-block" src="{% static 'game_of_life/images/still_lifes/block.svg' %}" alt="" >
						<figcaption>Block</figcaption>
					</figure>

					<figure>
						<img class="pattern" id="pattern-beehive" src="{% static 'game_of_life/images/still_lifes/beehive.svg' %}" alt="" >
						<figcaption>Beehive</figcaption>
					</figure>


					<figure>
						<img class="pattern" id="pattern-loaf" src="{% static 'game_of_life/images/still_lifes/loaf.svg' %}" alt="" >
						<figcaption>Loaf</figcaption>
					</figure>

					<figure>
						<img class="pattern" id="pattern-boat" src="{% static 'game_of_life/images/still_lifes/boat.svg' %}" alt="" >
						<figcaption>Boat</figcaption>
					</figure>

					<figure>
						<img class="pattern" id="pattern-flower" src="{% static 'game_of_life/images/still_lifes/flower.svg' %}" alt="" >
						<figcaption>Flower</figcaption>
					</figure>


				</div>

				<div class='col-md-6'>
					<h4>Oscillators</h4>
					<figure>
						<img id="pattern-blinker" src="{% static 'game_of_life/images/oscillators/blinker.gif' %}" alt="" >
						<figcaption>Blinker<br><small>(period 2)</small></figcaption>
					</figure>
					<figure>
						<img src="{% static 'game_of_life/images/oscillators/toad.gif' %}" alt="" >
						<figcaption>Toad<br><small>(period 2)</figcaption>
					</figure>
					<figure>
						<img src="{% static 'game_of_life/images/oscillators/beacon.gif' %}" alt="" >
						<figcaption>Beacon<br><small>(period 2)</figcaption>
					</figure>
					<figure>
						<img src="{% static 'game_of_life/images/oscillators/Pulsar.gif' %}" alt="" >
						<figcaption>Pulsar<br><small>(period 3)</figcaption>
					</figure>
				</div>


			</div>

			<div class='row row-spaceships-reproduction'>

				<div class='col-md-3'>
					<h4>Spaceships</h4>
					<figure>
						<img src="{% static 'game_of_life/images/spaceships/glider.gif' %}" alt="" >
						<figcaption>Glider</figcaption>
					</figure>

					<figure>
						<img src="{% static 'game_of_life/images/spaceships/lwss.gif' %}" alt="" >
						<figcaption>Lightweight Spaceship</figcaption>
					</figure>

				</div>

				<div class='col-md-offset-1 col-md-6'>
					<h4>Reproduction</h4>

					<figure>
						<img src="{% static 'game_of_life/images/reproduction/gosper_gun.gif' %}" alt="" >
						<figcaption>Lightweight Spaceship</figcaption>
					</figure>
					<figure>
						<img src="{% static 'game_of_life/images/oscillators/toad.gif' %}" alt="" >
						<figcaption>Acorn</figcaption>
					</figure>

				</div>

			</div>


			<div class='row row-other'>

				<div class='col-md-5'>
					<h4>User Generated</h4>

					<form class="form-group text-pattern">

						<input type="text" class="form-control" id="text-pattern" placeholder="Text Pattern">

						<button type="button" class="btn-console" id="button-text-pattern">Go</button>
					</form>
					<button type="button" class="btn-console" id="button-random">Random</button>
				</div>

				<div class='col-md-offset-1 col-md-2'>
					<h4>Heavy Patterns</h4>
					<button type="button" class="btn-console" id="button-puffer">Puffer Train</button>
				</div>

			</div>
		</div>

	</section>

</main>

</body>



